# MO_Changes
# Usage: pip install -r requirements.txt

# speech to text
openai-whisper
SpeechRecognition
pyaudio

# information extraction

# lokal:
# accelerate
# transformers>=4.43.0
# bitsandbytes
# psutil
# huggingface_hub

# api:
openai

# allg
python-dotenv

# Franka robot control and camera calibration
franky-control==1.1.2
numpy
opencv-python
